/*
 * Author:		 
 * Date:		9/19/2022	
 * Filename:	footer.css
 */
/*
// Blue: 6096BA;
// Brown: 9C916D;
// White: FFFFFF;
// Black: 0F1A20;
*/

.footer_container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: #9C916D;
	padding-top: 2px;
	padding-bottom: 8px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer_block {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin-right: 1em;
	margin-left: 1em;
	text-align: left;
}

.footer_block a {
	font-size: 1em;
}