.cart{
    display: flex;
    margin: auto;
}

.mainCart{
    background-color: #F7F6F3;
    box-shadow: 10px 10px 5px #aaaaaa;
    padding: 8px;
}

.items{
    display: flex;
    border-bottom: 2px solid black;
    margin-top: 5px;
}

.cartItemInfo{
   font-size: 12px;
   position: relative;
   left: 10px;
}

.productImage{
    width: 100px;
    height: 100px;
}

.counter {
    width: 500px;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}
.counter input {
    width: 30px;
    border: 0;
    line-height: 10px;
    font-size: 20px;
    text-align: center;
    background: #0052cc;
    color: #fff;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #0052cc;
    user-select: none;
}

.summary{
    margin: auto;
    background-color: #F7F6F3;
    padding: 20px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.tax{
    border-bottom: 2px solid black;
}

.CheckoutButton{
    background-color: orange;
    color: black;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 10px 10px 5px #aaaaaa;
}